.container{
    position: absolute;
    top: 28%;
    left: 20%;
    height: 60vh;
    width: 60vw;
    display:grid;
    grid-template-columns: 30% 70%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
a{
    color: rgb(27, 26, 26) !important;

}
.sidebar{
    padding-top:150px;
    border-right: 1px solid rgba(100, 100, 100, 0.445);
}
.tab-options ul{
    list-style: none;
}
.tab-options ul li{
    margin-top: 50px;
}
.tab-options ul li span:hover{
    color: #f79711;
    cursor: pointer;
}
.active-tab{
    color: #D8973C;
}
.content-tab h1{
    text-align: center;
    grid-column: 1 / span 2;
}
.content-tab{
    padding: 20px;
    height: 90%;
    margin-top: 30px;
}
.overview{
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 50px;
}
.details-card{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 10px;
    text-align: center;
    padding-top: 50px;


}
.details-card div{
    text-align: left;
    margin-top: 30px;
}
.details-card div p{
    margin-bottom: 10px;
}
.hide{
    display: none;
}
.grid{
    display: grid;
    grid-template-rows: 30% 70%;
}
.message{
    margin-top: 200px;
}
#user_img{
    display: flex;
    align-items: center;
    justify-content: center;
}
#user_img img{
    width: 100px;
    height: 100px;
    border-radius:100% ;  
}
#user_content{
    display: grid;
    grid-template-columns: auto auto;
    padding: 100px;
}
.wallet h3,.wallet h5{
    text-align: center;
    margin-bottom: 100px;
}.wallet input{
    border-bottom:1px black solid ;
}
#deposit{
    margin-left:32%;
    margin-top: 100px;
    padding: 10px;
    background-color: rgb(14, 14, 14);
    text-transform: uppercase;
    color: white;
    transition: ease 0.3s;
}
#deposit:hover{
    background-color: #D8973C;
}

